<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Manz Be Getting Married!</title>

    <link rel="stylesheet" href="{{site.url}}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{site.url}}/stylesheets/pygment_trac.css">
    <link rel="icon" type="image/jpeg" href="{{site.url}}/images/favicon.bmp"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    
  </head>
  <body>

    
    <div class="wrapper">

      
      <header>  
        <a href="{{site.url}}"><div class="img-circular"></div></a>
          <p>Manz be getting married<br/></p>
        <p id="blurb">
          <h3>Shim’s address:</h3>
          397 Front Street West, 3011D<br/>
          Toronto, Ontario<br/>
          M5V 3S1<br/>
          </p>

          <h3>Gurdwara address:</h3>
          Gurdwara Dasmesh Darbar<br/>
          4555 Ebenezer Rd<br/>
          Brampton, Ontario<br/>
          L6P 2R2
          </p>

          <h3>Reception address:</h3>
          Chandni Banquet Hall<br/>
          125 Chrysler Dr<br/>
          Brampton, Ontario<br/>
          L6S 6L1<br/>
          </p>
        </p>
        

      </header>
      <section>