<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Manz Be Getting Married!</title>

    <link rel="stylesheet" href="{{site.url}}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{site.url}}/stylesheets/pygment_trac.css">
    <link rel="icon" type="image/jpeg" href="{{site.url}}/images/favicon.bmp"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    
  </head>
  <body>

    
    <div class="wrapper">

      
      <header>  
        <a href="{{site.url}}"><div class="img-circular"></div></a>
          <p>Manz are getting married!<br/></p>
        <p id="blurb">
		  Here is a guide to the Wedding Day, Airlines, Hotels  and Transport options around Toronto.
          <h4>Shim’s address:</h4>
          397 Front Street West, 3011D<br/>
          Toronto, Ontario<br/>
          M5V 3S1<br/>
		  +1-416-277-5458<br/>
          </p>

          </p>
        </p>
        

      </header>
      <section>